<div class="card" style="width: 18rem;">
    <img src="/assets/images/ordinateur/pc_bureau/ordi1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Disque dur 500gb</h5>
      <p class="card-text">Disque dur </p>petite capacité
      <a href="#" class="btn btn-primary">Ajouter au panier</a>
    </div>
  </div>
  
  <div class="card" style="width: 18rem;">
  <img src="/assets/images/ordinateur/pc_bureau/ordi2.jpg"  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Disque dur 1TO</h5>
    <p class="card-text">Bon disque dur avec une bonne capacité.</p>
    <a href="#" class="btn btn-primary">Ajouter au panier</a>
  </div>
  </div>
  
  <div class="card" style="width: 18rem;">
  <img src="/assets/images/ordinateur/pc_bureau/ordi3.jpg"  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Disque dur 2TO</h5>
    <p class="card-text">Disque dur avec beaucoup de capacité de stockage.</p>
    <a href="#" class="btn btn-primary">Ajouter au panier</a>
  </div>
  </div>
   