<div class="container">
  <div class="row p-1">
    <div class="col-md-6 col-xl-4 py-2">
      <mat-card class="pcbureau-card">
        <mat-card-header>
          <mat-card-title class="pcbureau-align">Pc Portable</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/images/ordinateur/pc_portable/pc1.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            HP Pavilion Gaming Desktop TG01-1101nf + clavier + souris
            Intel Core i5-10400F 2,90 GHz / 8Go RAM DDR4 / SSD 512 Go / AMD Radeon RX 5500 Graphics - 4Go GDDR5 /
            Gigabit Ethernet / Windows 10 Famille 64 btis
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary">Voir le descriptif</button>
          <button mat-button color="primary">Modifier</button>
          <button mat-button color="primary">Supprimer</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>


