<div class="card" style="width: 18rem;">
  <img src="/assets/images/ordinateur/pc_bureau/ordi1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ordinateur 1</h5>
    <p class="card-text">Un ordinateur de dingue, processeur de furieux et à la pointe de la technologie.</p>
    <a href="#" class="btn btn-primary">Ajouter au panier</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
<img src="/assets/images/ordinateur/pc_bureau/ordi2.jpg"  class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Ordinateur 2</h5>
  <p class="card-text">Grosse carte graphique.</p>
  <a href="#" class="btn btn-primary">Ajouter au panier</a>
</div>
</div>

<div class="card" style="width: 18rem;">
<img src="/assets/images/ordinateur/pc_bureau/ordi3.jpg"  class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Ordinateur 3</h5>
  <p class="card-text">Une machine de guerre.</p>
  <a href="#" class="btn btn-primary">Ajouter au panier</a>
</div>
</div>
 