<div class="container">
    <div class="my-4 h4" style="text-align: center">
     Votre panier :
    </div>
  
    <div class="card" style="width: 18rem;">
        <img src="/assets/images/ordinateur/pc_bureau/ordi2.jpg"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ordinateur 2</h5>
          <p class="card-text">Grosse carte graphique.</p>
        </div>
        </div>
  
    <div class='my-4'>
      <button class="btn btn-success">Passer au paiement</button>
    </div>
  </div>
  