<!-- Footer -->
<footer class="bg-dark text-center text-white"  style="background-color: rgba(109, 153, 219, 0.832);">
    <div class="container p-4">
      <section>
        <a>
          Service proposé par Mohammad ASKAR, Steven El Khoury, Aurélien SHARMA, Guillaume WURM.
        </a>
      </section>
    </div>
  
    <div class="text-center p-3" style="background-color: rgba(50, 50, 196, 0.832);">
      Copyright © 2022 M1 MIAGE App. All rights reserved.
    </div>
  
  </footer>
  
  <style>
  </style>