<div class="card" style="width: 18rem;">
    <img src="/assets/images/ordinateur/pc_bureau/ordi1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Iphone XR</h5>
      <p class="card-text">Un Iphone assez grand.</p>
      <a href="#" class="btn btn-primary">Ajouter au panier</a>
    </div>
  </div>
  
  <div class="card" style="width: 18rem;">
  <img src="/assets/images/ordinateur/pc_bureau/ordi2.jpg"  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Iphone 11 Pro</h5>
    <p class="card-text">Dernier Iphone avec 3 appareils photo.</p>
    <a href="#" class="btn btn-primary">Ajouter au panier</a>
  </div>
  </div>
  
  <div class="card" style="width: 18rem;">
  <img src="/assets/images/ordinateur/pc_bureau/ordi3.jpg"  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Iphone 11 mini</h5>
    <p class="card-text">Version de poche de l'ihpone 11.</p>
    <a href="#" class="btn btn-primary">Ajouter au panier</a>
  </div>
  </div>
   