<div class="container">
  <div class="row p-1">
    <div class="col-md-6 col-xl-4 py-2">
      <mat-card class="telportable-card">
        <mat-card-header>
          <mat-card-title class="telportable-align">Iphone 11 pro</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/images/ordinateur/pc_portable/pc1.jpg" alt="Téléphone portable">
        <mat-card-content>
          <p>
          Iphone 11 pro. 3 appareils photo, puce A6.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary">Voir le descriptif</button>
          <button mat-button color="primary">Modifier</button>
          <button mat-button color="primary">Supprimer</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
   