<div class="card" style="width: 18rem;">
  <img src="/assets/images/ordinateur/accessoires/accessoire1.jpg"  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Tapis de souris</h5>
    <p class="card-text">Gros tapis pas cher.</p>
    <a href="#" class="btn btn-primary">Ajouter au panier</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/assets/images/ordinateur/accessoires/accessoire2.jpg"  class="card-img-top" alt="...">
  <div class="card-body">
  <h5 class="card-title">Souris</h5>
  <p class="card-text">La petite souris.</p>
  <a href="#" class="btn btn-primary">Ajouter au panier</a>
</div>
</div>

<div class="card" style="width: 18rem;">
<img src="/assets/images/ordinateur/accessoires/accessoire3.jpg"  class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Clavier</h5>
  <p class="card-text">Clavier gamer Logiket.</p>
  <a href="#" class="btn btn-primary">Ajouter au panier</a>
</div>
</div>
 