<div class="card" style="width: 18rem;">
    <img src="/assets/images/ordinateur/pc_bureau/ordi1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cle 100go</h5>
      <p class="card-text">Une clé 100go pour vos données personnels.</p>
      <a href="#" class="btn btn-primary">Ajouter au panier</a>
    </div>
  </div>
  
  <div class="card" style="width: 18rem;">
  <img src="/assets/images/ordinateur/pc_bureau/ordi2.jpg"  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Clé 500go</h5>
    <p class="card-text">Une grosse clé USB pour tout stocker.</p>
    <a href="#" class="btn btn-primary">Ajouter au panier</a>
  </div>
  </div>
  
  <div class="card" style="width: 18rem;">
  <img src="/assets/images/ordinateur/pc_bureau/ordi3.jpg"  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Cle 250go</h5>
    <p class="card-text">Une clé pratique.</p>
    <a href="#" class="btn btn-primary">Ajouter au panier</a>
  </div>
  </div>
   