<mat-card> 
    <mat-card-content>
        <div class="header">
            <h2>
                Connexion
            </h2>
        </div>
        <form (ngSubmit)="onLogin" name="connexionForm" [formGroup]="connexionForm">
            <div class="email-input">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label> Email</mat-label>
                    <input formControlName="email" matInput required/>
                    <!--<mat-error *ngIf="connexionForm.get('email').errors?.required">
                        Adresse mail requis
                    </mat-error>-->
                </mat-form-field>
            </div>
            <div>
                <span class="alink">Mot de passe Oublier ?</span>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label> Password</mat-label>
                    <input formControlName="password" matInput  required/> <!--[type]="hide ? 'password' : 'text'"-->
                    <!--<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aira-pressed]="hide">
                        <mat-icon>{{ hide ? 'visibility_off' : 'visibility'}}</mat-icon> 
                    </button>-->
                    <!--<mat-error *ngIf="connexionForm.get('password').errors?.required">
                        mot de passe requis
                    </mat-error>-->
                </mat-form-field>
            </div>
            <button mat-flat-button color="primary">Connexion</button>
        </form>
    </mat-card-content>
</mat-card>