<div class="card" style="width: 18rem;">
    <img src="/assets/images/ordinateur/pc_bureau/ordi1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Tel fixe 1</h5>
      <p class="card-text">Un téléphone fixe basique.</p>
      <a href="#" class="btn btn-primary">Ajouter au panier</a>
    </div>
  </div>
  
  <div class="card" style="width: 18rem;">
  <img src="/assets/images/ordinateur/pc_bureau/ordi2.jpg"  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Tel fixe 2</h5>
    <p class="card-text">Un téléphone fixe.</p>
    <a href="#" class="btn btn-primary">Ajouter au panier</a>
  </div>
  </div>
  
  <div class="card" style="width: 18rem;">
  <img src="/assets/images/ordinateur/pc_bureau/ordi3.jpg"  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Tel fixe 3</h5>
    <p class="card-text">Une téléphone fixe en 2022.</p>
    <a href="#" class="btn btn-primary">Ajouter au panier</a>
  </div>
  </div>
   