<div class="card" style="width: 18rem;">
    <img src="/assets/images/ordinateur/pc_portable/pc1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">PC Portable 1</h5>
      <p class="card-text">Processeur de furieux.</p>
      <a href="#" class="btn btn-primary">Ajouter au panier</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/assets/images/ordinateur/pc_portable/pc2.jpg"  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">PC Portable 2</h5>
    <p class="card-text">Grosse carte graphique.</p>
    <a href="#" class="btn btn-primary">Ajouter au panier</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/assets/images/ordinateur/pc_portable/pc3.jpg"  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">PC Portable 3</h5>
    <p class="card-text">Une machine de guerre.</p>
    <a href="#" class="btn btn-primary">Ajouter au panier</a>
  </div>
</div>
