<div class="card" style="width: 18rem;">
    <img src="/assets/images/ordinateur/pc_bureau/ordi1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cable USB C</h5>
      <p class="card-text">Un cable usb c.</p>
      <a href="#" class="btn btn-primary">Ajouter au panier</a>
    </div>
  </div>
  
  <div class="card" style="width: 18rem;">
  <img src="/assets/images/ordinateur/pc_bureau/ordi2.jpg"  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Cable Jack</h5>
    <p class="card-text">Cable jack.</p>
    <a href="#" class="btn btn-primary">Ajouter au panier</a>
  </div>
  </div>
  
  <div class="card" style="width: 18rem;">
  <img src="/assets/images/ordinateur/pc_bureau/ordi3.jpg"  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Cable USB</h5>
    <p class="card-text">Un cable USB.</p>
    <a href="#" class="btn btn-primary">Ajouter au panier</a>
  </div>
  </div>
   